body, .input-container, .output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f6f7;
}

body {
    background-color: #1b1b32;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.input-container, .output-container  {
    width: 400px;
    color: #f5f6f7;
    background-color: #3b3b4f;
    align-items: stretch;
    text-align: center;
    border: 3px solid #fff;
}

.input-container {
    height: 200px;
}

.input-container input, button {
    height: 50px;
    margin: 10px 40px;
}

.number-input {
    background-color: #0a0a23;
}

.number-input, #output {
    color: #fff;
    font-size: 2rem;
}

.convert-btn {
    background-color: #ffbd40;
}

.output-container {
    height: 100px;
    margin: 40px 0;
}